body {
  overflow-x: hidden;
}
fieldset {
  border: none;
}
@font-face {
  font-family: "MontserratArabic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/Montserrat-Arabic-Regular.ttf") format("truetype");
}
